<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaowuu.dao.blog.BlogLeaveMessageMapper" >

    <resultMap id="resultMap" type="com.xiaowuu.entity.blog.BlogLeaveMessage" >
        <id column="id" property="id" />
        <result column="user_id" property="userId"/>
        <result column="user_ip" property="userIp"/>
        <result column="content" property="content"/>
        <result column="message_time" property="messageTime"/>
        <result column="username" property="userName"/>
        <result column="is_read" property="isRead"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <!-- 复用SQL语句 所有字段 -->
    <sql id="selectAllField">
        SELECT A.id,
        A.user_id,
        A.user_ip,
        A.content,
        A.message_time,
        A.username,
        A.is_read,
        A.is_deleted,
        A.update_time,
        A.create_time
        FROM blog_leave_message A
        WHERE 1=1
        AND A.is_deleted = 0
    </sql>

    <!--获取未读留言-->
    <select id="getTodoMessageList" resultMap="resultMap">
        <include refid="selectAllField"/>
        AND A.is_read = 0
        ORDER BY A.create_time DESC
    </select>

    <!--获取总留言数-->
    <select id="getTotalMessage" resultType="integer">
        SELECT COUNT(*) FROM blog_leave_message
    </select>

    <!--获取月留言数-->
    <select id="getTotalByMonth" resultType="integer">
        SELECT COUNT(*) FROM blog_leave_message
        WHERE 1 = 1
        <if test="startTime != null and startTime != ''">
            AND #{startTime} <![CDATA[ <= ]]> create_time
        </if>
        <if test="endTime != null and endTime != ''">
            AND #{endTime} <![CDATA[ > ]]> create_time
        </if>
    </select>

    <!--<update id="updateBlogLeaveMessage" parameterType="com.xiaowuu.entity.blog.BlogLeaveMessage">
      UPDATE blog_leave_message
        <set>
            <if test="adminReply != null and adminReply!=''">
                admin_reply = #{adminReply},
            </if>
            <if test="adminReplyTime != null and adminReplyTime!=''">
                admin_reply_time = #{adminReplyTime},
            </if>
            <if test="isRead != null">
                is_read = #{isRead},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted},
            </if>
        </set>
      WHERE id =#{id}
    </update>-->


</mapper>